@import "tailwindcss" source("../");

@variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  :root {
    --background: var(--color-amber-100);
    --foreground: var(--color-stone-950);
    --primary: var(--color-stone-950);
    --primary-foreground: var(--color-amber-100);
    --secondary: var(--color-amber-200);
    --secondary-foreground: var(--color-stone-950);
    --muted: var(--color-amber-200);
    --muted-foreground: var(--color-stone-800);
    --accent: var(--color-amber-200);
    --accent-foreground: var(--color-stone-950);
    --destructive: var(--color-red-800);
    --destructive-foreground: var(--color-black);
  }

  .dark {
    --background: var(--color-stone-950);
    --foreground: var(--color-amber-100);
    --primary: var(--color-amber-100);
    --primary-foreground: var(--color-stone-950);
    --secondary: var(--color-stone-800);
    --secondary-foreground: var(--color-amber-100);
    --muted: var(--color-stone-800);
    --muted-foreground: var(--color-amber-200);
    --accent: var(--color-stone-800);
    --accent-foreground: var(--color-amber-100);
    --destructive: var(--color-red-800);
    --destructive-foreground: var(--color-gray-100);
  }
}
